
button:hover{
  cursor: pointer;
}
/* function */
.function{
  margin-right: 10%;
  margin-top: 30px;
  font-size: 16px;
  line-height: 21px;
}
/* .selectBox{  
  margin-right: 50px;
  margin-left: 5px;
  margin-top: 5px;
  width: 120px;
  height: 25px;
  border-radius: 3px;
  border-color: #707070;
  font-family: "微軟正黑體";
} */
.selectBox{
  width: 160px !important;
  height: 30px !important;
  margin-right: 10px;
  margin-bottom: 10px;
}
#delete{
  display: none;
}
.inputBox{
  float: right;
  width: 150px;
  height: 23px;
  border: #707070 solid 1px;
  padding:0px;
  border-radius: 3px;
  font-family: "微軟正黑體";
  margin-left: 70px;
}
/* .functionButton{
  float: right;
  width: 55px;
  height: 22px;
  cursor:pointer;
  background-color: #E6E6E6;
  border: #828282 solid 0.5px ;
  border-radius: 3px;
  font-size: 14px;
  color: #8C8C8C;
  margin-left: 10px;
  margin-right: 15px;
  margin-top: 5px;
  font-family: "微軟正黑體";
  box-shadow: 0px 3px 6px #00000029;
} */
.buttonFunArea{
  width: 100%;
  /* margin-left: 66%; */
  margin-bottom: 10px;
}
.buttonArea{
  float: right;
}
.editButton{
  all: unset;
  position: relative;
  right: 0px;
  background: white;
  /* width: 100px; */
  height: 20px;
  padding: 10px 5px;
  margin-right: 10px;
  border-radius: 3px;
  vertical-align: bottom;
  border: 0.5px solid rgb(233, 233, 233);
  -webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.editButton img{
  height: 24px;
  object-fit: contain;
  margin: auto;
  justify-content: center; 
  margin-left: 5px;
}
.editButton span{
  margin-left: 10px;
  margin-right: 10px;
  line-height: 24px;
  vertical-align: top;
  text-align: center;
}
.editButton:hover{
  background-color: rgba(181, 240, 191, 0.747);
  position:relative;
  bottom: 2px;
}
.editButton:active{
  -webkit-box-shadow: 2px 2px 0px #adadad;
  -moz-box-shadow: 2px 2px 0px #adadad;
  box-shadow: 1px 1px 0px #adadad;
  position:relative;
  top:1px;
  left:1px;
}
.clearALL img{
  width: 28px;
  height: 24px;
}
/* .clearall{
  all: unset;
  display: inline-block;
  height: 20px;
  font-size: 12px;
  padding: 10px 10px;
  border-radius: 3px;
  font-family: "Segoe UI";
  letter-spacing: 1px;
  border: 0.5px solid rgb(233, 233, 233);
  background-color: #ffffff;
  color: black;  
  -webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.clearall:hover{
  background-color: rgba(181, 240, 191, 0.747);
  position:relative;
  bottom: 2px;
} */
.accountList  td{
  padding: 0px 5px;
  border-top:#656565 solid 1.5px ;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
}
.accountList a{
  padding: 5px 0px;
  display: block;
  color:black;
}
.accountList  tr:hover a{
  /* background-color: #656565; */
  color: red;
}
.vueGoodTable{
  width: 97%;
  margin-left: 20px;
  /* margin-top: 20px; */
  position: relative;
  /* display: none; */
  z-index: 0;
}
/* increasing User */
.addUser{
  margin-left: 150px;
  margin-top: 50px;
  width: 898px;
  height: 446px;
  background-color: #FFFFFFE8;
  position: absolute;
  /* z-index: 1; */
}
#addNewUser{
  display: none;
  /* visibility:hidden; */
  z-index:1;
}
.addAccount{
  float: left;
  margin-left: 30px;
  margin-top: 20px;
  font-size: 23px;
}
.closeAdd{
  float: right;
  cursor:pointer;
  background-color: #FFFFFFE8;
  border:none ;
  font-size: 25px;
  margin-right: 30px;
  margin-top: 18px;
}
.input{
  float: right;
  margin-top: 60px;
  margin-right: 140px;
}
.input input{
  margin-bottom: 60px;
  float:right;
}
.input span{
  float:right;
}
#tableActionsBtn{
  margin-right: 330px;
  margin-left: 100px;
}
.addSelect{
  float:right;
  width: 165px;
  height: 23px;
  border: #707070 solid 1px;
  border-radius: 3px;
  font-family: "微軟正黑體";
  margin-bottom: 60px;
}
.account_select_phone{
  display: none;
  width: 30%;
  float: left;
  margin-right: 2.5%;
  margin-bottom: 10px;
}
.account_select_phone div{
  display: inline-block;

}
@media (max-width: 768px) {
  .insideContent{
    width: 100%;
    margin: 50px 0;
  }
  .display_ipad{
    display: none;
  }
  .vueGoodTable{
    width: 90%;
    margin: 0;
    /* background: #000; */
    /* display: none; */
    position: relative;
    z-index: 0;
    margin:auto;
    /* max-height:none; */
  }
  .contentCenter{
    /* background: blue; */
    width: 100%;
    margin-top: 30px;
  }
  .page{
    margin-left: -36px;
  }
  .account_select{
    display: none;
  }
  .vgt-input{
    width: 100%;
  }
  .el-table{
    margin: 0;
    z-index: 0;
  }
  /* 篩選＋按鈕 */
  .account_select_phone{
    margin-bottom: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-column-gap:10px;
    color: #61656e;
  }
  .right_select{
    background: #F4F5F8;
    border: 1px solid rgba(221, 219, 219, 0.76);
    padding: 10px 10px;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap:5px;
    grid-row-gap:5px;
  }
  .right_select div{
    align-self: center;
    justify-self: center;
  }
  .left_btn{
    background: #F4F5F8;
    border: 1px solid rgba(221, 219, 219, 0.76);
    display: inline-grid;
    grid-template-columns: 1fr;
    padding: 10px 0px;
    grid-row-gap:10px;
    width: 100%;
  }
  .left_btn div{
    width: 90%;
    align-self: center;
    justify-self: center;
    text-align: center;
  }
  .account_select_phone .selectBox{
    margin: 0;
  }
  .functionButton{
    padding: 0;
    margin: 0;
    width: 90%;
    float: unset;
  }

  /* 新增帳號 */
  .addUser{
    margin-left: -2%;
    top: 15%;
    width: 94%;
    position: fixed;
    height: auto;
    background: #FFF;
    /* padding: 30px 30px 20px 30px; */
    box-shadow: rgba(187, 187, 187, 1) 0 0px 20px -1px;
    -webkit-box-shadow: rgba(187, 187, 187, 1) 0 0px 20px -1px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
    border-radius: 10px;
    -webkit-border-radius: 10px;
  }
  .addUser form{
    /* background: #000; */
    border-top: 1px dashed rgb(231, 231, 231);
    box-sizing: border-box;
    padding: 10px 0;
  }
  .addAccount{
    margin: 10px 20px;
    font-size: 20px;
  }
  .closeAdd{
    margin: 10px 20px;
    padding: 0;
  }
  .input{
    margin: 0 30% 0 0 ;
    float: none;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    /* justify-content: flex-end; */
  }
  .input input{
    margin: 10px 0;
    width: 200px;
    /* margin-left: 5px; */
    border: 1px solid #e5e5e5;
	  background: #fbfbfb;
  }
  .input span{
    float: none;
    text-align: right;
    margin-right: 5px;
    line-height: 40px;
    width: 45%;
  }
  .inputBox{
    float: none;
    
  }
  .addSelect{
    border: 1px solid #e5e5e5;
	  background: #fbfbfb;
    margin: 10px 0;
    width: 208px;
  }
  #tableActionsBtn{
    width: 70px;
    margin: 10px 40%;
    float: none;
    
  }
  #cancel{
    display: none;
  }
  .add_btn{
    text-align: center;
  }

}
@media (max-width: 600px) {
  .input{
    margin: 0 20% 0 0 ;
  }
  .input span{
    width: 20%;
  }
}
@media (max-width: 425px) {
  .input input{
    width: 160px;
  }
  .addSelect{
    width: 168px;
  }
  .input span{
    width: auto;
  }
  .display{
    display: none;
  }
  #add_user{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    border: 1px dashed rgb(199, 195, 195);
    bottom: 60px;
    right: 20px;
    z-index: 1;
    outline: none;
  }
  
}