/* .content{
    background-color: #F7F7F7;
    padding-top: 40px;
    height: 100vh;
    padding-left: 7%;
}
.breadcrumb{
    margin-top: 10px;
}
.breadcrumb a{  
    float: left;
    font-size: 16px;
    color: black;
}
.breadcrumb-item::after{
    content: "\00a0 >\00a0 ";
    color: black;
}

.detail{
  width: 73%;
  margin-left: 8%;
  margin-top: 30px;
  padding-bottom: 50px;
  background-color: white;
    border: #707070 solid 1px;
    border-radius: 10px;
}
.detail h2{
  font-size: 22px;
  line-height: 33px;
  font-weight: bold;
  float: left;
}
.detail button{
  float: right;
  margin-top: 10px;
}
.leftContent{
  float: left;
  margin-left: 50px;
  margin-top: 40px;
}
.rightContent{
  margin-top: 35px;
  margin-left: 70px;
  float: left;
  margin-right: 45px;
}
.rightContent li {
  color: #9A9A9A;
  float: right;
  font-size: 18px;
  margin-left: 40px;
  line-height: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}
.editPersonalInfo{
  float: right;
  margin-right: 20%;
  margin-bottom: 10px;
}
.personalInfoLastLogin{
  float: right;
  margin-right: 20%;
  font-size: 16px;
  margin-bottom: 5px;
  color: #9A9A9A;
  font-weight: 600;
}

.rightContent input{
  border: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  font-family: 微軟正黑體;
  outline: none;
  border-bottom: #9A9A9A solid 1px;
  float: right;
  width: 400px;
  color: #9A9A9A;
  padding: 5px;
  margin-left: 15px;
}
.rightContent select{
  border: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  font-family: 微軟正黑體;
  outline: none;
  border-bottom: #9A9A9A solid 1px;
  float: right;
  width: 410px;
  color: #9A9A9A;
  padding: 5px;
  margin-left: 15px;
}
#passwordIcon{
  position: absolute;
  right:40%
}
#saveInfo{
  visibility: hidden;
}
.fa{
	color:black;
	z-index: 2;
	margin-top: 26.5px;
	margin-right: 95px;
} */


.personalInfoLastLogin{
  top: -20px;
  position: relative;
  float: right;
  margin-right: 6.5%;
  margin-bottom: 10px;
}     
.accountDetails{
  width: 92%;
  background: white;
  margin: 2%;
  border: 0.5px solid rgb(218, 218, 218);
  box-shadow: 0.5px 0.5px 1px #adadad;
  border-radius: 3px;
}
.accountDetails ul{
  float: left;
  /* margin-top: 20px; */
}
.pictureList li{
  padding: 20px 0px;
  margin-bottom: 7px;
}
.DetailList li{
  padding: 20px 0px;
  margin-bottom: 0px;
  border-bottom: 0.3px solid rgb(236, 236, 236);
}
.pictureList{
  margin-top: 15px;
  width: 25%;
  margin-left: 35px;
}
.pictureList .edit_btn{
  margin-right: 40%;
} 
.DetailList {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.accountDetails li:hover{
  cursor: pointer;
}

.span_info{
  display: inline-block;
  width: 100px;
  /* margin-left: 5%; */
  margin-right: 10%;
  line-height: 35px;
  vertical-align: middle;
  color: gray;
}
.accountDetails ul li input{
  all: unset;
  width: 170px;
  position: relative;
  z-index: 100;
}
#limit{
  width: 170px;
  height: 35px;
}

.edit_btn{
  all: unset;
  float: right;
  margin-right: 45%;
  /* position: relative; */
  height: 20px;
  padding: 10px 5px;
  /* margin-left: 200px; */
  margin-bottom: 0px;
  border-radius: 3px;
  vertical-align: bottom;
}
.edit_btn img{
  height: 20px;
  /* padding-top: 5px; */
  object-fit: contain;
  margin: auto;
  justify-content: center; 
  margin-left: 5px;
  display: none;

}
.accountDetails li:hover .edit_btn img{
  display: inline-block;
}
.btnBlock{
  width: 300px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
#saveInfo{
  all: unset;
  background: white;
  height: 20px;
  background-color: rgba(72, 133, 82, 0.877);
  border: 0.5px solid rgb(196, 196, 196);
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  letter-spacing: 3px;
  margin-top: 30px;
  margin-right: 50px;
  font-size: 16px;
  visibility: hidden;
}
#logout_phone{
  display: none;
}
#cancleInfo{
  all: unset;
  background: white;
  height: 20px;
  background-color: rgba(72, 133, 82, 0.877);
  border: 0.5px solid rgb(196, 196, 196);
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  letter-spacing: 3px;
  margin-right: 20px;
  font-size: 16px;
  visibility: hidden;
}
ul li .image-upload>input {
  display: none;
}
ul li .image-upload>img{
  cursor: pointer;
}
#logout_phone{
  display: none;
}
.edit_phone{
  display: none;
}
@media (max-width: 768px) {
  .edit_btn img{
    display: block;
  }
  .accountDetails_outsidediv{
    position: relative;
    top: 39px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 50px;
    z-index: 0;
  }
  .accountDetails{
    padding: 10px 0 20px;
    margin: 0 5%;
    width: 90%;
  }
  .personalInfoLastLogin{
    position: static;
    text-align: right;
  }
  .accountDetails ul li{
    display: flex;
    /* flex-wrap: wrap; */
    
  }
  .accountDetails ul li input{
    width: 50%;
    
  }
  .edit_btn{
    position: absolute;
    right: 10%;
    margin: 0 ;
    padding: 0;
  }
  #limit{
    width: 50%;
  }
  .btnBlock{
    display: flex;
    justify-content: space-around;
    padding: 20px 0; 
    width: 100%;
  }
  #saveInfo,#cancleInfo{
    margin: 0;
  }
  .accountDetailsBG{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pictureList{
    margin: 0 0 30px;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .pictureList .photo_edit_phone{
    margin: 0 0 0 100px;
    padding: 0;
    text-align: center;
  }
  .pictureList .account_photo_phone img{
    margin-right: auto;
    margin-left: auto;
    /* padding: 0 auto; */
  }
  #logout_phone{
    display: block;
    position: absolute;
    top: 8px;
    right: 5%;
    /* z-index: 1; */
  }
  .edit_phone{
    display: block;
    position: fixed;
    top: 6px;
    left: 5%;
    z-index: 1;
    width: 35px;
    background: white;
    border: none;
    outline: none;
  }
  .edit_phone img{
    width: 100%;
  }
  .edit_btn{
    display: none;
  }
}
@media (max-width: 450px) {
  .accountDetails li{
    padding: 10px 0;
  }
  .span_info{
    margin-right: 5%;
  }
  .edit_btn{
    /* margin-left: 10px;
    margin-right: 0; */
  }
  .accountDetails ul li input,#limit{
    margin-left: 5%;
    width: 70%;
  }
  .accountDetailsBG{
    
  }
  .DetailList{
    width: 90%;
  }
}