.change_wrap{
  display: block;
  width: 100%;

}
.change_page {
  width: 40%;
  border-radius:10px;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
}
.change_page img {
  display: block;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}
.change_page h1{
  width: 220px;
  margin-right: auto;
  margin-left: auto;
}

.change_page .input_block{
  width: 40%;
  margin-left: auto;
  margin-top: 40px;
  margin-right: auto;
}
.change_page p{
  width: 60px;
  font-size: 14px;
  margin-bottom: 5px;
  color: gray;
  /* font-weight: bolder; */
}

.change_page .input_all{
  width: 200px;
  line-height: 24px;
  border: 1px solid #a3a3a3;
  border-radius: 3px;
  margin-bottom: 40px;
  padding: 5px;
  font-size: 15px;
  font-family: 微軟正黑體;
  outline:none;
}
.change_page .input_all:focus{
  border: 0.5px solid rgb(71, 152, 228);
}
.btn{
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}
.change_page button {
    /* basic */
    all: unset;
    width: 50px;
    font-size: 16px;
    height: 30px;
    background-color: rgba(72, 133, 82, 0.877);
    border: 0.5px solid rgb(196, 196, 196);
    border-radius: 3px;
    padding: 2px 25px;
    color: white;
    letter-spacing: 2px;
    text-align: center;
    /* custom */
    margin-bottom: 10px;
}
@media (max-width: 768px){
  .page{
    width: 100%;
    margin: 0;
    margin-top: 20vh;
  }
  .page button{
    margin: 0;
    float: unset;
    /* display: block; */
    /* margin-left: 50%; */
  }
}