label{
    font-size: 14px;
    padding-top: 5px;
}

button:hover{
    cursor: pointer;
}
.buttonFunArea{
    width: 200px;
    margin-left: 88%;
    margin-bottom: 15px;
}
.custom_el_select{
    width: 160px !important;
    height: 30px !important;
}
.score_div{
    margin-left: 20px;
}
/* 改不了 */
.el-input__inner{
    height: 30px !important;
}
/* .editArea{
    display: inline-block;
    position: relative;
    margin-left: 84%;
    width: 40px;
    height: 35px;
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
    border: 0.5px solid rgb(187, 187, 187)
} */
.editButton{
    all: unset;
    background: white;
    width: 20px;
    height: 15px;
    padding: 10px;
    margin-right: 5px;
    border-radius: 3px;
    vertical-align: bottom;
    border: 0.3px solid rgb(233, 233, 233);
}
.editButton img{
    width: 100%;
    margin: auto;
    justify-content: center; 
}

/* .editButton .editSpan{
    float: right;
    padding: 5px 5px 5px 3px;
} */
/* .editArea:hover{
    cursor: pointer;
    background-color: rgba(149, 188, 255, 0.425);
} */
/* .edit{
    display: none;
    position: absolute;
    width: 180px;
    right: 20px;
    margin-top: 10px;
    padding: 1%;
    background-color: #ffffff;
    border: 0.3px solid rgba(182, 182, 182, 0.76);
    border-radius: 3px;
    z-index: 1000;
} */
.edit{
    display: none;
    /* width:94.5%; */
    width: 23.5%;
    float: right;
    /* margin-left: 1.5%; */
    margin-right: 2.5%;
    margin-bottom: 10px;
    /* padding: 1%; */
    /* background: rgb(255, 255, 255); */
    /* border: 0.3px solid rgb(233, 233, 233); */
}
/* 
.edit p{
    margin-top: 10px;
    margin-left: 5px;
    font-size: 16px;
} */
/* .edit div{
    display: inline-block;
} */
.confirmButton{
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
    /* margin-right: 15px; */
    padding: 4px 10px;
    border-radius: 3px;
    border: 1px solid rgb(201, 201, 201);
}
/* .MultiFilterArea{
    float: left;
    width: 10%;
    margin-right: 15px;
    height: 100vh;
    padding: 1%;
    background-color: #F4F5F8;
    border-radius: 3px;
    border: 1px solid rgb(226, 226, 226);
} */
.MultiFilterArea{
    /* display: none; */
    width:65%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 5px;
    /* border-right: 0.3px solid #cccccc; */
    /* padding: 1%; */
    /* background: rgb(255, 255, 255); */
    /* border: 0.3px solid rgb(233, 233, 233); */
}

.clearall{
    all: unset;
    display: inline-block;
    margin-left: 2%;
    font-size: 12px;
    padding: 10px 10px;
    border-radius: 3px;
    /* box-shadow: 0.5px 0.5px 2px #adadad; */
    font-family: "Segoe UI";
    letter-spacing: 1px;
    border: 2px solid rgb(122, 122, 122);
    background-color: #ffffff;
    color: black;
}
.clearall:hover{
    background: rgb(255, 255, 255);
    border: 2px solid rgb(201, 201, 201);
    color: black;
    /* -webkit-box-shadow: 0.5px 0.5px 0px #adadad; */
    /* -moz-box-shadow: 0.5px 0.5px 0px #adadad;/ */
    /* box-shadow: 1px 1px 0px #adadad; */
    position:relative;
    top: 0.5px;
    left: 0.5px;
}

.el-checkbox{
    /* color: white; */
    margin-left: 15px;
}


.filterTitle{
    /* margin: 25px 0px 10px 5px; */
    font-size: 14px;
}

#reportrange{
    width: 120px;
    padding: 1%;
    border-radius: 4px;
    left: 190px;
}

.timeSpan{
    width: 100px;
    display:block;
    /* line-height: 20px; */
    /* border: 1px solid #000; */
    /* vertical-align: middle; */
    font-size: 16px;
    line-height: 26px;
    vertical-align: middle;
    color: #C0C4CC;
    font-family: Arial;
    letter-spacing: 1px;
    padding-top: 2px;
    /* padding-top: 3px; */
}

.dataRightArea{
    float: left;
    width: 86%;
    /* margin-left: 1%; */
}

/* .filter{
    width: 100%;
    margin-left: 1.5%;
} */
.filter{
    float: left;
    width: 10%;
    margin-right: 15px;
    height: 70vh;
    padding: 1%;
    background-color: #ffffff;
    border-radius: 3px;
    border: 0.3px solid rgb(226, 226, 226);
}
.filter button{
    all: unset;
    width: 100%;
}

.filter li{
    float: left;
    width: 120px;
    margin-right: 1%;
}
.elcheckbox{
    width: 100%;
}
.filterP{
    font-weight: bold;
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
}
.labelDiv{
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.labelDiv img{
    padding-left: 10px;
    margin-right: 10px;
}
.labelDiv span{
    /* all: unset; */
    font-size: 16px;
}
.labelDiv .num{
    font-size: 12px;
    margin-left: 5px;
}

.functionButton{
    all: unset;
    background: white;
    height: 30px;
    background-color: rgba(72, 133, 82, 0.877);
    border: 0.5px solid rgb(196, 196, 196);
    border-radius: 5px;
    padding: 3px 15px;
    color: white;
    letter-spacing: 3px;
    float: left;
}
.addBTN{
    margin-right: 10px;
}

/* .addBTN{
    position: absolute;
    left: 35%;
    bottom: 10%;
}
.deleteBTN{
    position: absolute;
    right: 35%;
    bottom: 10%;
} */
.filter li:hover{
    cursor: pointer;
    /* background: #F1F3F6; */
    /* background: rgba(138, 165, 224, 0.623); */
    color: rgb(55, 134, 55);
    border-bottom: 2px solid green;
}
.focus{
    color: rgb(55, 134, 55);
    border-bottom: 2px solid green;
}
.labelchoose{
    display: none;
    float: left;
    margin: 10px 5px;
}

.el-table{
    float: left;
    margin-right: 7%;
}

.slot_div{
    float: left;
    margin-right: 5px;
}

tr:hover td{
    background-color: #CCCCCC;
}
.el-select{
    width: 130px;
    margin-right: 10px;
}
.el-input{
    height: 30px;
    width: 100%;
}
.el-input__inner{
    height: 30px;
    font-size: 12px;
}

.none{
    background-color: #106697c5;
    color: white;
    padding: 7px;
    border-radius: 3px;
    box-shadow: 0.5px 0.5px 2px #adadad;
    font-family: "Segoe UI";
    letter-spacing: 1px;
}
.ing{
    background-color: rgba(29, 151, 55, 0.836);
    color: white;
    padding: 7px;
    border-radius: 3px;
    box-shadow: 0.5px 0.5px 2px #adadad;
    font-family: "Segoe UI";
    letter-spacing: 1px;
}
.done{
    background-color: rgb(190, 190, 190);
    color: rgb(218, 0, 0);
    padding: 7px;
    border-radius: 3px;
    font-family: "Segoe UI";
    letter-spacing: 1px;
}

.none,.ing{
    -webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
}
.none:active, .editButton:active, .ing:active{
    -webkit-box-shadow: 2px 2px 0px #adadad;
    -moz-box-shadow: 2px 2px 0px #adadad;
    box-shadow: 1px 1px 0px #adadad;
    position:relative;
    top:1px;
    left:1px;
}
.replyButton{
    /* background-color: #ffffffc5; */
    /* color: rgb(90, 88, 88); */
    padding: 7px;
    border-radius: 3px;
    box-shadow: 0.5px 0.5px 2px #adadad;
    font-family: "Segoe UI";
    letter-spacing: 1px;
}
.vgt-global-search{
    padding: 10px;
    background: white;
}
.vgt-input{
    width: 50%;
}
.vgt-inner-wrap{
    position: relative;
    z-index: 1;
}

.el-select .el-input .el-select__caret{
    line-height: 25px;   
}
.el-table a{
    color: rgb(39, 30, 165);
}
/* .selection_phone,.select_btn,.selection_btn_phone{
    display: none;
} */
#comment_filter_phone{
    display: none;
}
@media (max-width: 768px) {
    .page{
        /* margin-left: -36px; */
    }
    .vgt-fixed-header{
        z-index: 0;
    }
    .editArea{
        display: none;
        background: #000;
    }
    /* 篩選器 */
    /* .selection_btn_phone{
        display: block;
        position: fixed;
        right: 20px;
        top: 13px;
        z-index: 2;
        color: white;
    }
    .selection_btn_phone:hover{
        cursor: pointer;
    }
    .selection_phone {
        color: white;
        height: 100%;
        width: 100%;
        z-index: 2;
        position: fixed;
        top: 39px;
        background: rgb(218, 226, 236);
    }
    .selection_phone span{
        background-color: rgba(47, 58, 76);
        display: block;
        font-size: 20px;
        width: 50%;
        float: left;
        padding: 8px 0;
        text-align: center;
    }
    .selection_phone.active {
        background-color: rgba(47, 58, 76, 1);
        display: block;
        position: fixed;
        top: 38px;
    } */
    .buttonFunArea{
        margin: 0;
    }
    #editButton_phone{
        display: none;
        position: fixed;
        top: 5px;
        right: 5%;
        padding: 0;
        margin: 0;
        border: none;
    }
    #editButton_phone:active{
        all: unset;
        position: fixed;
        top: 5px;
        right: 5%;
        padding: 0;
        margin: 0;
        border: none;
        width: 20px;
        height: 15px;
        /* background: #000; */
    }
    .edit{
        background: white;
        width: 100%;
        margin: 0;
        padding: 15px 0 15px 30px;
        box-sizing: border-box;
        position: fixed;
        bottom: 39px;
        right: 0;
        /* box-shadow: 0px -5px 5px black; */
        box-shadow: 0 -2px 4px rgb(148, 146, 146);
    }
    .edit_flex{
        display: flex;
        justify-content: space-around;
    }
    .add_btn button{
        height: 35px;
        padding: 0 15px;
        line-height: 35px;
    }
    .clearall{
        position: fixed;
        top: 6px;
        left: 5%;
        margin: 0;
        padding: 0 13px;
        height: 25px;
        line-height: 25px;
        border: 1px solid rgb(182, 180, 180);
    }
    .clearall:hover{
        position: fixed;
        top: 6px;
        left: 5%;
        margin: 0;
        padding: 0 13px;
        height: 25px;
        line-height: 25px;
        border: 1px solid rgb(122, 122, 122);
    }
    .clearall:active{
        background: rgb(122,122,122);
        color: white;
    }
    .dataArea{
        width: 100%;
        /* margin: 20px 0 0 ; */
        margin: 0;
        padding-bottom: 39px;
        z-index: 0;
        position: relative;
        top: 39px;
    }
    .dataRightArea{
        width: 100%;
    }
    #comment_filter_phone{
        display: block;
        position: fixed;
        top: 8px;
        right: 5%;
        z-index: 1;
        padding: 0;
        margin: 0;
        border: none;
        width: 25px;
    }
    #comment_filter_phone:hover{
        /* all: unset; */
        background-color: white;
        position:fixed;
        top: 8px;
        right: 5%;
        /* left: unset; */
        width: 25px;
    }
    #comment_filter_phone:active{
        all: unset;
        position:fixed;
        top: 8px;
        right: 5%;
        /* left: 0; */
        z-index: 1;
        width: 25px;
    }
    .filter{
        display: none;
        background-color: rgb(218, 226, 236);
        margin: 0;
        /* height: 100%; */
        position:fixed;
        z-index: 2;
        top: 75px;
    }
    .filter li{
        width: 25%;
        margin: 0;
    }
    .filter li:hover{
        background:  rgb(196, 205, 226);
        border: none;
        color: #000;
    }
    .focus{
        color: #000;
        border: none;
    }
    .filter .all,.filter .custom{
        width: 100%;
    }
    .filter.active{
        display: block;
    }
    
    .MultiFilterArea{
        background: white;
        position: fixed;
        bottom: 39px;
        left: 0;
        width: 100%;
        z-index: 1;
        margin: 0;
        padding: 0;
        border-radius: unset;
        box-shadow: 0 -2px 4px rgb(148, 146, 146);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        height: 200px;
        padding: 10px 25px 15px;
        box-sizing: border-box;
    }
    .MultiFilterArea .slot_div{
        width: 45%;
        margin: 10px 0;
        /* order: 1; */
    }
    #reportrange{
        width: unset;
    }
    .slidecontainer{
        text-align: center;
    }
    .filterTitle{
        text-align: center;
    }
    .filterP{
        margin-left: 10px;
    }
    .MultiFilterArea.active{
        display: block;
    }
   
    .el-table{
        margin: 0;
    }
}
@media (max-width: 425px) {
    .display{
        display: none;
    }
}