label{
    font-size: 14px;
    padding-top: 5px;
}
button{
    all: unset;
}
.eachCompany a{
    all: unset;
    color: black;
}
.eachCompany a:active{
    all: unset;
    color: black;
}
.eachCompany a:hover{
    all: unset;
    color: black;
}
.wholeArea{
    width: 100%;
}
/* 
.goCommentBtn{
    font-size: 14px;
    border-radius: 7px;
    background-color: #6e7cf7;
    padding: 5px;
    color: white;
    letter-spacing: 2px;
}
.goCommentBtn a{
    color: white;
}
.goCommentBtn:hover{
    background-color: #8a95f5;
    cursor: pointer;
}
.goCommentBtn:active{
    -webkit-box-shadow: 2px 2px 0px #adadad;
    -moz-box-shadow: 2px 2px 0px #adadad;
    box-shadow: 1px 1px 0px #adadad;
    position:relative;
    top:1px;
    left:1px;
} */
/* 
.manageLabel{
    all: unset;
}
.labelchoose{
    width: 60px;
    float: left;
    margin: 30px 5px 20px 0px;
}
   float: left;
 
.filter-right{
    position: relative;
    width: 80%;

    margin-left: 2%;
}
.competitionList{
    padding-top: 10px;
} */
.dataArea1{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.eachCompany{
    width: 100%;
    color: black;
    border-bottom: 0.3px solid rgba(128, 128, 128, 0.438);
    border-radius: 3px;
    box-sizing: border-box;
    /* box-shadow:1px 1px 2px rgba(0, 0, 0, 0.192); */
    /* background-color: #fff; */
    padding: 1.5%;
    margin: 1.5%;
    position: relative;
}

.myCompany{
    background-color: rgb(100, 59, 59);
}

.eachCompany:hover{
    cursor: pointer;
    /* -webkit-box-shadow: 2px 2px 0px #adadad; */
    /* -moz-box-shadow: 2px 2px 0px #adadad; */
    /* box-shadow: 1px 1px 0px #adadad; */
    position:relative;
    background: rgba(192, 192, 192, 0.397);
    top:2px;
    left:2px;
}
.eachCompany{
    -webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
    transition: all 0.5s;
}
.eachCompany{
    -webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
    transition: all 0.5s;
}
.eachCompany img{
    /* width: 100%; */
    float: left;
    margin-bottom: 10px;
}

.companyInfo{
    float: left;
    margin: 0.5% 2%;
}

.name{
    font-size: 20px;
    font-weight: bold;
}
  
.ratings {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    color: #ddd; /*背景星星顏色*/
    overflow: hidden;
    font-size: 25px; /*調整字體大小可放大縮小星星*/
    text-shadow: 0px 1px 0 #999;
}
.full_star{
    /* width: 100%; 調整寬度可變更星等 */
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #ffb732; /*前景星星顏色*/
    }
.btn-box {
    display:inline-block;
    vertical-align:middle;
    width: 30px;
    height: 30px;
}
.btn-box .btn {
    display:inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../icon/star.svg);
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    /*動畫從ml為0開始*/
    transition: .5s;
}
.btn-box .btn1 {
    display:inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../icon/fullstar.svg);
    background-position: top;
    background-size: 30px;
    background-repeat: no-repeat;
    /*動畫從ml為0開始*/
    transition: .5s;
    /* box-shadow:1px 2px 5px rgba(0,0,0,.3); */
}
.checkbox {
    width: 30px;
    height: 30px;
    position:absolute;
    opacity:0;
}
.favoriteArea{
    position: absolute;
    top: 10;
    right: 5px;
}
.btn-box, .btn-box .btn, .checkbox:hover{
    cursor: pointer;
}

.favButton{
    text-decoration: underline;
}

.favButton:hover{
    cursor: pointer;
    color:blue;
}
.favDiv{
    display: none;
}
.clear{
    clear: both;
}
/* .selfCompany element.style{
    background-color:green;
} */
@media (max-width: 768px) {
    .phone {
        margin: 0 5%;
        width: 90%;
    }
    .dataArea{
        width: 100%;
        margin: 0;
        margin-bottom: 50px;
    }
    .contentCenter{
        width: 100%;
        margin-top: 30px;
    }
    .page{
        font-size: 25px;
        font-weight: bold;
        margin-top: 30px;  
        margin-right: 20%;
    }
}
