label{
    font-size: 14px;
    padding-top: 5px;
}
button{
    all: unset;
}
.wholeArea{
    width: 100%;
}
.buttonFunArea{
    width: 200px;
    margin-left: 85%;
    margin-bottom: 15px;
}
.dataArea1{
    width: 80%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.rank{
    float: left;
    margin: 7% 2%;
    font-size: 24px;
}
.eachCompany{
    width:70%;
    height: 200px;
    display: inline-block;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 1.5%;
    position: relative;
    border-bottom: 0.1px solid rgb(223, 223, 223);
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
    transition: all 0.3s;
}
.myCompany{
    /* background-color: rgb(207, 207, 207); */
}
.eachCompany:hover{
    cursor: pointer;
    position: relative;
    top:2px;
    left:2px;
    background-color: rgb(209, 209, 209);
}
.eachCompany a{
    all: unset;
    color: black;
}


.details{
}

.details img{
    /* width: 100%; */
    float: left;
    width: 25%;
    margin-bottom: 10px;
}

.details .companyInfo{
    float: left;
    background-color: #fff;
    width: 65%;
    padding: 1.5%;
}
.mouth_info p{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
}
.pos{
    width: 100px;
    text-align: center;
    color: white;
    border-radius: 5px;
    padding: 0.5%;
    margin-right: 30px;
    color: rgb(233, 37, 37);
    border: 0.3px solid rgb(185, 185, 185);
    box-shadow: 0.5px 0.5px 2px #adadad;
}
.neg{
    width: 100px;
    text-align: center;
    color: white;
    border-radius: 5px;
    padding: 0.5%;
    color: rgb(48, 161, 108);
    border: 0.3px solid rgb(185, 185, 185);
    box-shadow: 0.5px 0.5px 2px #adadad;
}

.name{
    font-size: 20px;
    font-weight: bold;
}

.ratings {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    color: #ddd; /*背景星星顏色*/
    overflow: hidden;
    font-size: 25px; /*調整字體大小可放大縮小星星*/
    text-shadow: 0px 1px 0 #999;
}
.full_star{
    /* width: 100%; 調整寬度可變更星等 */
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #ffb732; /*前景星星顏色*/
    }
.btn-box {
    display:inline-block;
    vertical-align:middle;
    width: 30px;
    height: 30px;
}
.btn-box .btn {
    display:inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../icon/star.svg);
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    /*動畫從ml為0開始*/
    transition: .5s;
}
.btn-box .btn1 {
    display:inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../icon/fullstar.svg);
    background-position: top;
    background-size: 30px;
    background-repeat: no-repeat;
    /*動畫從ml為0開始*/
    transition: .5s;
    /* box-shadow:1px 2px 5px rgba(0,0,0,.3); */
}
.checkbox {
    width: 30px;
    height: 30px;
    position:absolute;
    opacity:0;
}
.favoriteArea{
    /* float: right; */
    position:absolute;
    right: 25px;
}
.btn-box, .btn-box .btn, .checkbox:hover{
    cursor: pointer;
}

.favButton{
    text-decoration: underline;
}

.favButton:hover{
    cursor: pointer;
    color:blue;
}
.favDiv{
    display: none;
}
.clear{
    clear: both;
}
/* .selfCompany element.style{
    background-color:green;
} */
@media (max-width: 768px) {
    .phone {
        margin: 0 5%;
        width: 90%;
    }
    .dataArea1{
        width: 100%;
        margin: 60px 0 40px 0;
        text-align: center;
        /* margin-bottom: 50px; */
    }
    .contentCenter{
        width: 100%;
        margin-top: 30px;
    }
    .page{
        margin-left: -54px;
    }
    .eachCompany{
        width: 90%;
        height: unset;
        padding: 0;
        padding-bottom: 20px;
    }
    .eachCompany:hover{
        /* all:unset; */
        cursor: pointer;
        position: relative;
        top:0;
        left:0;
        background-color: #f7f7f7;
    }
    .details{
        display: flex;
    }
    .details .companyInfo{
        width: 75%;
    }
    .details img{
        margin: 0;
    }
    .checkbox{
        /* position: relative; */
    }
}
@media (max-width: 425px) {
    .name{
        font-size: 18px;
    }
}
