label{
    font-size: 14px;
    padding-top: 5px;
}
button{
    all: unset;
}
.wholeArea{
    width: 100%;
}
.buttonFunArea{
    width: 300px;
    margin-left: 88%;
    margin-bottom: 15px;
}
.editButton:active{
    -webkit-box-shadow: 2px 2px 0px #adadad;
    -moz-box-shadow: 2px 2px 0px #adadad;
    box-shadow: 1px 1px 0px #adadad;
    position:relative;
    top:1px;
    left:1px;
}
.dataArea1{
    width: 80%;
    margin-top: 10px;
    margin-left: 3%;
    /* margin-right: auto; */
}

.rank{
    width: 30px;
    margin-left: 10px;
    font-size: 18px;
    font-style: italic;
    color: rgb(58, 58, 133);
    /* float: left; */
    /* margin: 7% 2%; */
}

.eachCompany{
    width:100%;
    height: 190px;
    display: inline-block;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 1.5%;
    position: relative;
    border-bottom: 0.1px solid rgb(223, 223, 223);
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
    transition: all 0.3s;
}

.eachCompany:hover, .myCompany:hover{
    cursor: pointer;
    position: relative;
    top:2px;
    left:2px;
    background-color: rgb(209, 209, 209);
}
.eachCompany a, .myCompany a{
    all: unset;
    color: black;
}

.details img{
    /* width: 100%; */
    float: left;
    padding: 1.5%;
    padding-top: 0px;
}

.eachCompany .details .companyInfo, .myCompany .details .companyInfo{
    float: left;
    /* background-color: #fff; */
    width: 65%;
    height: 140px;
    padding: 1.5%;
}
.myHotel{
    font-size: 16px;
    font-weight: bold;
    padding: 1%;
}
.myCompany{
    width:100%;
    height: 190px;
    display: inline-block;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 1.5%;
    position: relative;
    border-bottom: 0.1px solid rgb(223, 223, 223);
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
    transition: all 0.3s;
    background: rgba(60, 177, 142, 0.205);
    /* background-color: white; */
    /* background-color: rgb(63, 184, 133); */
}
/* .myCompany .details{
    width: 100%;
    padding: 1%;
} */

.mouth_info p{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
}
.pos{
    width: 100px;
    text-align: center;
    color: white;
    /* border-radius: 5px; */
    padding: 0.5%;
    margin-right: 30px;
    color: rgb(233, 37, 37);
    /* border: 0.3px solid rgb(185, 185, 185); */
    /* box-shadow: 0.5px 0.5px 2px #adadad; */
}
.neg{
    width: 100px;
    text-align: center;
    color: white;
    /* border-radius: 5px; */
    padding: 0.5%;
    color: rgb(48, 161, 108);
    /* border: 0.3px solid rgb(185, 185, 185); */
    /* box-shadow: 0.5px 0.5px 2px #adadad; */
}

.name{
    font-size: 20px;
    font-weight: bold;
}

.ratings {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    color: #ddd; /*背景星星顏色*/
    overflow: hidden;
    font-size: 25px; /*調整字體大小可放大縮小星星*/
    text-shadow: 0px 1px 0 #999;
}
.full_star{
    /* width: 100%; 調整寬度可變更星等 */
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #ffb732; /*前景星星顏色*/
    }
.btn-box {
    display:inline-block;
    vertical-align:middle;
    width: 30px;
    height: 30px;
}
.btn-box .btn {
    display:inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../icon/star.svg);
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    /*動畫從ml為0開始*/
    transition: .5s;
}
.btn-box .btn1 {
    display:inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../icon/fullstar.svg);
    background-position: top;
    background-size: 30px;
    background-repeat: no-repeat;
    /*動畫從ml為0開始*/
    transition: .5s;
    /* box-shadow:1px 2px 5px rgba(0,0,0,.3); */
}
.checkbox {
    width: 30px;
    height: 30px;
    position:absolute;
    opacity:0;
}
.favoriteArea{
    /* float: right; */
    position:absolute;
    top: 20px;
    right: 2%;
}
.btn-box, .btn-box .btn, .checkbox:hover{
    cursor: pointer;
}

.favButton{
    text-decoration: underline;
}

.favButton:hover{
    cursor: pointer;
    color:blue;
}
.favDiv{
    display: none;
}
.clear{
    clear: both;
}
/* .selfCompany element.style{
    background-color:green;
} */
.contentCenter{
    display: none;
}
@media (max-width: 768px) {
    .contentCenter{
        display: block;
    }
    .hotel_name{
        color: #a89090;
        /* font-family: cursive; */
        font-weight: 900;
    }
    .phone {
        /* margin: 0 5%; */
        width: 100%;
    }
    .dataArea1{
        position: relative;
        top: 39px;
        width: 100%;
        margin: 0;
        text-align: center;
        padding-bottom: 50px;
    }
    .eachCompany{
        width: 90%;
        height: unset;
        padding: 0;
    }
    .eachCompany:hover{
        cursor: pointer;
        position: relative;
        top:0;
        left:0;
        background-color: #f7f7f7;
    }
    .myHotel{
        background:rgb(231, 229, 229);
        border-bottom: 2px dashed white;
        padding: 10px;
    }
    .myCompany{
        padding: 10px 5% 0;
        background:rgb(231, 229, 229);
        border-radius: unset;
        box-shadow:0px 2px 4px rgb(148, 146, 146);
        height: unset;
    }
    .myCompany:hover{
        height: unset;
        cursor: pointer;
        position: relative;
        top:0px;
        left:0px;
        background:rgb(231, 229, 229);
    }
    .details{
        display: flex;
        /* flex-direction: column; */
    }
    .myCompany .details .companyInfo,.eachCompany .details .companyInfo{
        width: 100%;
        height: unset;
        padding: 0;
        margin: 15px 0;
        /* text-align: left; */
    }
    .details img{
        margin: 0;
    }
    .checkbox{
        /* top: 40px; */
        /* right: 5%; */
    }
    .btn-box{
        /* position: absolute; */
        /* top: 40px; */
        /* right: 5%; */
    }
    .mouth_info{
        /* position: absolute; */
        /* right: 2%; */
        /* top: 30%; */
        display: flex;
        /* flex-direction: column; */
        padding-top: 30px;
        align-items: center;
        justify-content: center;
        box-sizing:border-box;
    }
    .my_mouth_info{
        right: 7%;
        top: 20%;
    }
    .mouth_info p{
        margin: 0 0 10px;
        /* width: 50%; */
        /* border: 1px solid rgb(221, 215, 215); */
        /* border-radius: 15px; */
        /* background: white; */
        /* box-shadow:.5px .5px 2px rgb(184, 180, 180); */
    }
    .pos,.neg{
        margin: 0;
        padding: 1%;
    }
}
@media (max-width: 425px) {
    .details{
        flex-direction: column;
    }
    .details img{
        /* height: unset !important; */
        width: 50% !important;
    }
    .companyInfo .name{
        font-size: 17px;
    }
    .empty_star,.full_star{
        font-size: 20px;
    }
    .checkbox{
        /* top: 0px; */
        /* right: 30px; */
    }
    .btn-box{
        /* position: absolute; */
        /* top: 0px; */
        /* right: 60px; */
    }
    .mouth_info{
        position: absolute;
        right: 8%;
        top: 20%;
        display: flex;
        flex-direction: column;
        /* padding-top: 20px; */
        box-sizing:border-box;
    }
    
    .mouth_info p{
        /* margin: 0 0 10px; */
        /* width: 50%; */
        border: 1px solid rgb(221, 215, 215);
        border-radius: 15px;
        background: white;
        /* box-shadow:.5px .5px 2px rgb(184, 180, 180); */
    }
    .my_mouth_info{
        right: 13%;
        top: 10%;
    }
    .my_mouth_info p{
        background: rgb(245, 245, 245);
    }
    .pos,.neg{
        margin: 0;
        padding: 1%;
    }
    .myCompany .details .companyInfo,.eachCompany .details .companyInfo{
        margin: 10px 0 15px;
    }
}

