.page {
  width: 50%;
  height: 500px;
  border-radius: 10px;
  margin-left: 20%;
}
.page img {
  float: left;
  margin: 40px 0 40px 43%;
}
.page h1 {
  width: 30px;
  font-size: 16px;
  margin: auto;
  font-weight: bolder;
  text-align: center;
}
.page form {
  margin-top: 40px;
  text-align: center;
}
.page label {
  font-size: 20px;
  color: gray;
  /* font-weight: bolder; */
}
.page input {
  width: 200px;
  border: 1px solid #707070;
  border-radius: 3px;
  margin-bottom: 40px;
  padding: 5px;
  font-size: 15px;
  font-family: 微軟正黑體;
  outline: none;
}

.page button {
  all: unset;
  width: 40px;
  margin: 15% 32%;
  font-size: 16px;
  height: 30px;
  background-color: rgba(72, 133, 82, 0.877);
  border: 0.5px solid rgb(196, 196, 196);
  border-radius: 5px;
  padding: 2px 25px;
  color: white;
  letter-spacing: 3px;
  text-align: center;
}
.forgetPW_phone h1{
  width: 90%;
}
.forgetPW_phone button{
  width: auto;
}
@media (max-width: 768px){
  .forgetPW_phone{
    width: 100%;
    height: unset;
    margin: 0;
    margin-top: 30%;
  }
  
}
