
.historyContent{
    margin-top: 20px;
    margin-left: 40px;
    width: 93%;
}

.pageButton0, .pageButton1 ,.pageButton2{
    all: unset;
    margin-right: 20px;
    font-size: 16px;
}
.pageButtonStart{
    color: rgba(0, 81, 255, 0.712);
    border-bottom: 1px solid rgba(0, 81, 255, 0.712);
}
.pageButton0:hover, .pageButton1:hover,.pageButton2:hover{
    cursor: pointer;
    color: rgba(0, 81, 255, 0.712);
    border-bottom: 1px solid rgba(0, 81, 255, 0.712);
}
#userInfoRecord{
    visibility: hidden;
}
.historydataArea{
    box-shadow: 0.5px 0.5px 1px #adadad;
    
    /* box-shadow: 0.5px 0.5px 1px #adadad; */
}
.historydataArea ul{
    width: 100%;
    margin-top: 30px;
    /* margin-bottom: 30px; */
    background-color: #fff;
    height: 50px;
    /* border: 0.3px solid rgb(219, 219, 219); */
    /* border-bottom: none; */
    border-radius: 3px;
}

.historydataArea ul li{
    display: inline-block;
    width: 10%;
    letter-spacing: 2px;
    border-right: 0.3px solid rgb(238, 238, 238);
    padding-top: 3px;
    margin-bottom: 0px;
    line-height: 45px;
}
.historydataArea ul li, .historydataArea ul li{
    padding-left: 25px;
}
.historydataArea button{
    all: unset;
}
.historydataArea ul li:hover{
    cursor: pointer;
    background: rgb(248, 248, 248);
    color: rgb(10, 145, 10);
}
.historydataArea ul li button:active{
    all: unset;
}
.bg{
    color: rgb(10, 145, 10);
}
.public_record, .personal_record, .backend_record{
    margin-top: 5px;
    height:500px;
    max-height:500px;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.842);
    box-shadow: 0.5px 0.5px 2px #adadad;
    padding: 1%;
}
.commentArea{
    /* margin-top: 20px; */
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 0.3px solid rgb(201, 201, 201);
    position: relative;
}
.commentArea:hover{
    background-color: rgb(231, 231, 231);
}
.commentHistoryContent{
    margin-left: 10px;
    letter-spacing: 3px;
    font-size: 16px;
}
.commentTimeHistory{
    color: gray;
    position: absolute;
    right: 1%;
}
.focus{
    color: rgba(0, 81, 255, 0.712);
    border-bottom: 1px solid rgba(0, 81, 255, 0.712);
}
.clear{
    clear:both;
}
.history_list_phone{
    display: none;
}
.contentCenter{
    display: none;
}
@media (max-width: 768px) {
    .contentCenter{
        display: block;
    }  
    .page{
        /* margin-left: -36px; */
    } 
    .historyContent{
        margin: 0;
        width: 100%;
        /* margin-top: 76px; */
    }
    .phone_none{
        display: none;
    }
    .history_list_phone{
        width: 100%;
        position: fixed;
        top: 39px;
        display: flex;
        justify-content: space-around;
    }
    .history_list_phone button{
        background: white;
        display: block;
        /* width: 34%; */
        margin: 0;
        text-align: center;
        padding: 10px 0;
        flex: 1;
    }
    .public_record{
        margin: 0;
    }
}