
.historyContent{
    margin-top: 20px;
    margin-left: 40px;
    width: 93%;
}
.pageButton0, .pageButton1{
    all: unset;
    margin-right: 20px;
    font-size: 16px;
}
.pageButton0:hover, .pageButton1:hover{
    cursor: pointer;
    color: rgba(0, 81, 255, 0.712);
    border-bottom: 1px solid rgba(0, 81, 255, 0.712);
}
.focus{
    color: rgba(0, 81, 255, 0.712);
    border-bottom: 1px solid rgba(0, 81, 255, 0.712);
}
.historydataArea{
    margin-top: 50px;
}
.commentArea{
    /* margin-top: 20px; */
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}
.commentArea:hover{
    background-color: rgb(231, 231, 231);
}
.commentHistoryContent{
    margin-left: 10px;
    letter-spacing: 3px;
    font-size: 16px;
}
.commentTimeHistory{
    color: gray;
    position: absolute;
    right: 4%;
}
.clear{
    clear:both;
}
