
.historyContent{
    margin-top: 20px;
    margin-left: 40px;
    width: 93%;
}

.pageButton0, .pageButton1 ,.pageButton2{
    all: unset;
    all: unset;
    width: 75px;
    font-size: 16px;
    height: 30px;
    background-color: rgba(72, 133, 82, 0.877);
    border: 0.5px solid rgb(196, 196, 196);
    border-radius: 3px;
    padding: 2px 15px;
    color: white;
    letter-spacing: 2px;
    text-align: center;
    /* custom */
    margin-right: 20px;
}
.pageButtonStart{
    color: rgba(0, 81, 255, 0.712);
    border-bottom: 1px solid rgba(0, 81, 255, 0.712);
}
.pageButton0:hover, .pageButton1:hover,.pageButton2:hover{
    cursor: pointer;
}
#userInfoRecord{
    visibility: hidden;
}
#userInfoRecord_phone{
    display: none;
}
.historydataArea{
    box-shadow: 0.5px 0.5px 1px #adadad;
}
.historydataArea ul{
    width: 100%;
    margin-top: 30px;
    background-color: #fff;
    height: 50px;
    border-radius: 3px;
}

.historydataArea ul li{
    display: inline-block;
    width: 10%;
    letter-spacing: 2px;
    border-right: 0.3px solid rgb(238, 238, 238);
    padding-top: 3px;
    margin-bottom: 0px;
    line-height: 45px;
}
.historydataArea ul li, .historydataArea ul li{
    padding-left: 25px;
}
.historydataArea button{
    all: unset;
}
.historydataArea ul li:hover{
    cursor: pointer;
    background: rgb(248, 248, 248);
    color: rgb(10, 145, 10);
}
.historydataArea ul li button:active{
    all: unset;
}
.customer_num img{
    margin-right: 20px;
}
.customer_num span{
    color: green;
}
.custom_modify{
    color: rgb(148, 148, 148);
    font-size: 14px;
}
.bg{
    color: rgb(10, 145, 10);
}
.public_record, .personal_record, .backend_record{
    margin-top: 5px;
    height:500px;
    max-height:500px;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.842);
    box-shadow: 0.5px 0.5px 2px #adadad;
    padding: 1%;
}
.commentArea{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 0.3px solid rgb(201, 201, 201);
    position: relative;
}
.commentArea:hover{
    background-color: rgb(231, 231, 231);
}
.commentHistoryContent{
    margin-left: 10px;
    letter-spacing: 3px;
    font-size: 16px;
}
.commentTimeHistory{
    color: gray;
    position: absolute;
    right: 1%;
}
.focus{
    background: rgb(29, 151, 125);
}
.clear{
    clear:both;
}
.history_list_phone{
    display: none;
}
.contentCenter{
    display: none;
}
@media (max-width: 768px) {
    .contentCenter{
        display: block;
    }  

    .historydataArea{
        margin-top: 76px;
        padding-bottom: 39px;
        box-shadow: none;
    }
    .historyContent{
        margin: 0;
        width: 100%;
    }
    .phone_none{
        display: none;
    }
    .history_list_phone{
        width: 100%;
        position: fixed;
        top: 39px;
        display: flex;
        justify-content: space-around;
        background: white;
        z-index: 1;
    }
    .history_list_phone button{
        display: block;
        margin: 0;
        text-align: center;
        padding: 5px 0;
        flex: 1;
        border: unset;
    }
    .public_record,.personal_record,.backend_record{
        margin: 0;
        height: 100%;
        max-height: none;
    }
    .historydataArea .history_inner__phone{
        display: none;
        position: fixed;
        z-index: 1;
        bottom: 39px;
        border-radius: unset;
        box-shadow: 0 -2px 4px rgb(148, 146, 146);
        height: unset;
        margin: 0;
    }
    .historydataArea .history_inner__phone li{
        width: 100%;
    }
    .commentArea{
        padding-bottom: 30px;
        padding-left:60px;
    }
    .commentTimeHistory{
        bottom: 6%;
        right: 2%;
    }
    .commentHistoryContent{
        width: 60%;
        line-height: 22px;
    }
    .customer_num img{
        position: absolute;
        left: 5%;
        top: 40%;
        margin: 0;
    }
    .history_list_phone .history_filter_phone{
        position: fixed;
        top: 8px;
        right: 5%;
        padding: 0;
        margin: 0;
        border: none;
        outline: unset;
        display: flex;
        flex-direction: column;
    }
    .history_filter_phone{
        background: white;
    }
    .history_list_phone .history_filter_phone img{
        width: 25px;
    }
    .pageButton0,.pageButton1, .pageButton2{
        border-radius: unset;
        border: unset;
    }
}