.personalInfo{
    visibility: hidden;
}
.page{
   width: 50%;
    height: 500px;
    border-radius:10px;
    margin-left: 20%;
}
.page img{
    float: left;
    margin: 40px 0 40px 43%;
}
.page h1{
    font-size: 28px;
    margin: auto;
    font-weight: bolder;
    text-align: center;
}
.page form{
    float: left;
    margin-left: 30%;
}
.page label{
    font-size: 20px;
    font-weight: bolder;
}
.page input{
    width: 200px;
    border: 1px solid #707070;
    border-radius: 3px;
    margin-bottom: 40px;
    padding: 5px;
    font-size: 15px;
    font-family: 微軟正黑體;
    outline:none;
}

.page button{
    all: unset;
    width: 50px;
    margin: 15% 32%;
    font-size: 16px;
    height: 30px;
    background-color: rgba(72, 133, 82, 0.877);
    border: 0.5px solid rgb(196, 196, 196);
    border-radius: 5px;
    padding: 2px 25px;
    color: white;
    letter-spacing: 3px;
    text-align: center;
}
.page .cus{
    width: 80px;
}
.send{
    float: left;
    margin-top: 40px;
    margin-left: 30%;
}
.send input{
    border-right:none ;
}
/* .send button{
    border-left:none ;
    height: 32px;
} */
form button{
    text-align: center;
}
form input{
    margin-top: 5px;
    
}