.personalInfo{
    visibility: hidden;
}
.veri_wrap{
    display: block;
    width: 100%;
    margin-left: 5%;
}
.veri_page{
    width: 50%;
    border-radius:10px;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
}
.veri_page img{
    display: block;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}
.veri_page h1{
    width: 200px;
    margin-right: auto;
    margin-left: auto;
}
.send, .veri_page .input_block{
    width: 30%;
    margin-left: auto;
    margin-top: 40px;
    margin-right: auto;
}
.veri_page .input_block{
    margin-top: 60px;
}
.veri_page .input_all{
    width: 200px;
    line-height: 24px;
    border: 1px solid #a3a3a3;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 15px;
    font-family: 微軟正黑體;
    outline:none;
}
.veri_page .input_all:focus{
    border: 0.5px solid rgb(71, 152, 228);
}
.input_block p{
    width: 90px;
    font-size: 14px;
    margin-bottom: 5px;
    color: gray;
    /* font-weight: bolder; */
}
.btn{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}
.btn1{
    width: 65%;
    margin-right: auto;
    margin-left: auto;
}
.veri_page button{
    /* basic */
    all: unset;
    width: 50px;
    font-size: 16px;
    height: 30px;
    background-color: rgba(72, 133, 82, 0.877);
    border: 0.5px solid rgb(196, 196, 196);
    border-radius: 3px;
    padding: 2px 25px;
    color: white;
    letter-spacing: 2px;
    text-align: center;
}
.veri_page .cus{
    width: 80px;
}
